#img-bg{
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-science-education-background_23-2148499315.jpg?w=2000");

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    }